.stage{
    margin-top: -33px;
    padding-top: 50px;
    height: 100vh;
    background: skyblue;
    box-sizing: border-box;
}
.container{
    margin-top: 200px;
    margin-left: 700px;
    width:190px ;
    perspective: 1000px;
    /* position: relative; */
    padding-top:80px ;
}
.ring{
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
    /* box-sizing: border-box; */
}
.ring:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.ring div{
    width: 100%;
    height: 120px;
    border: 1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}
.ring div:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
.ring div:nth-child(2){
    transform: rotateY(50deg) translateZ(300px);
}
.ring div:nth-child(3){
    transform: rotateY(100deg) translateZ(300px);
}
.ring div:nth-child(4){
    transform: rotateY(150deg) translateZ(300px);
}
.ring div:nth-child(5){
    transform: rotateY(200deg) translateZ(300px);
}
.ring div:nth-child(6){
    transform: rotateY(250deg) translateZ(300px);
}
.ring div:nth-child(7){
    transform: rotateY(300deg) translateZ(300px);
}
.ring img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 120px;
}
.ring img:hover{
    transform: scale(1.2);
    transition: all 300ms;

}
@keyframes rotar {
    from{
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
    
}
.contact1{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -50px;
}

.contact1 img{
    height: 25px;
}