.contact{
    display: flex;
    flex-direction: row-reverse;
}
.firsthead{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 4.75rem;
    letter-spacing: -1.5px;
    line-height: 4.75rem;
    display: relative;
    margin-top: 200px;
    font-weight: 700;
    color: rgb(174, 151, 16);
    
}
.background{
    margin-top: -34px;
    background-image: url(bl.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    float: left;
}
.noobeffect{
    cursor: pointer;;
}

.noobeffect:hover{
    font-size: 6rem;
    box-sizing: border-box;
    z-index:-1;
}
.second{
    margin-top: 20px;
    padding-left:25px ;
    color: rgb(187, 132, 60);
}
.info{
    padding: 20px;
    align-items: center;
    align-content: center;
    display:none;
    height: 300px;
    width: 760px;
    margin-top: -200px;
    background-color: rgb(127, 131, 131);
    margin-left: 320px;
    position: relative;
    z-index: 2;
    border-radius: 2px;
    box-shadow: 7px 7px 4px rgb(156, 155, 154);


    
}
.logo1{
    padding: 12px;
    height: 10px;
    width: 40px;
}
.contact img{
    height: 25px;
}